*{
    padding: 0;
    margin: 0;
}

table{
    border: 2rem solid rgb(88, 137, 57);
    position: absolute;
    left: 28rem;
    top: 4rem;
    border-collapse: collapse;
    z-index: 0;
}

td{
    width: 1.5rem;
    height: 1.5rem;
}

td{
    text-align: center;
    vertical-align: auto;
}

.claro{
    background-color: rgb(171,213,90);
}

.oscuro{
    background-color: rgb(163,207,83);
}

#serpiente{
    background-color: rgb(112, 0, 97);
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 36rem;
    top: 19.5rem;
    z-index: 1;
}

h1{
    z-index: 3;
    position: absolute;
    top: 300px;
    left: 600px;
    color: red;
}